# Motive-To analyze customer buying behaviour mainly the following questions
## * Month wise sales and in which month the sales was highest.
## * city wise sales
## * product wise sales and products which are brought togather.
## * best time for marketing advertisement based on sales.

### Importing all dependcies

In [1]:
import pandas as pd,os

In [2]:
import numpy as np,seaborn as sns

### First task is to convert all months data into one csv for analysis .
#df=pd.read_csv('E:\pandas practice data\Pandas-Data-Science-Tasks-master\SalesAnalysis\Sales_Data\Sales_April_2019.csv')
files=[file for file in os.listdir('E:\pandas practice data\Pandas-Data-Science-Tasks-master\SalesAnalysis\Sales_Data')]

all_months_data=pd.DataFrame()
for file in files:
    df=pd.read_csv('E:\\pandas practice data\\Pandas-Data-Science-Tasks-master\\SalesAnalysis\\Sales_Data\\'+file)
    all_months_data=pd.concat([all_months_data,df])

all_months_data.to_csv('all_month_data.csv',index=False)

In [4]:
df=pd.read_csv(r'E:\practice_py files\practice data\all_month_sales_data.csv',parse_dates=['Order Date'])

## data exploration

In [17]:
df.shape

(186850, 6)

In [18]:
df.size

1121100

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 186850 entries, 0 to 186849
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Order ID          186305 non-null  object
 1   Product           186305 non-null  object
 2   Quantity Ordered  186305 non-null  object
 3   Price Each        186305 non-null  object
 4   Order Date        186305 non-null  object
 5   Purchase Address  186305 non-null  object
dtypes: object(6)
memory usage: 8.6+ MB

In [12]:
df.duplicated().sum()

1162

In [14]:
df.isna().sum()

Order ID            545
Product             545
Quantity Ordered    545
Price Each          545
Order Date          545
Purchase Address    545
dtype: int64

In [16]:
df.describe()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
count,186305,186305,186305,186305,186305,186305
unique,178438,20,10,24,142396,140788
top,Order ID,USB-C Charging Cable,1,11.95,Order Date,Purchase Address
freq,355,21903,168552,21903,355,355

### data cleaning

In [4]:
df.dropna(inplace=True)

In [102]:
#df1['Date'] = pd.to_datetime(df1['Date'], format='%Y%m%d').dt.strftime('%m/%d/%Y')

In [106]:
#or directly from Order Date column
#df['Order Date'].str[0:2]

0         04
2         04
3         04
4         04
5         04
          ..
186845    09
186846    09
186847    09
186848    09
186849    09
Name: Order Date, Length: 186305, dtype: object

In [20]:
df.columns

Index(['Order ID', 'Product', 'Quantity Ordered', 'Price Each', 'Order Date',
       'Purchase Address'],
      dtype='object')

In [21]:
# code to remove the column name in column values
for col in df.columns:
    df.drop(index=df[df[col]==col].index,inplace=True)

### Q1 What was the best month for sales? and how much was earned that month

In [7]:
df['Order Date']=pd.to_datetime(df['Order Date'])

In [29]:
df['month']=df['Order Date'].dt.month_name()

In [11]:
df[['Quantity Ordered','Price Each']]=df[['Quantity Ordered','Price Each']].astype('float32')

In [12]:
df['total']=df['Quantity Ordered']*df['Price Each']

In [86]:
df.groupby('month')['total'].sum()#wrong df.groupby('month')['total'].size().index()

month
April        3390670.25
August       2244467.75
December     4613443.50
February     2202022.50
January      1822256.75
July         2647775.75
June         2577802.25
March        2807100.25
May          3152606.75
November     3199603.25
October      3736726.75
September    2097560.00
Name: total, dtype: float32

###  which city sold the most product

In [90]:
df['city']=[i[1] for i in df['Purchase Address'].str.split(',')]

In [92]:
#no of product sold city wise
df.groupby('city')['Quantity Ordered'].sum()

city
 Atlanta          16602.0
 Austin           11153.0
 Boston           22528.0
 Dallas           16730.0
 Los Angeles      33289.0
 New York City    27932.0
 Portland         14053.0
 San Francisco    50239.0
 Seattle          16553.0
Name: Quantity Ordered, dtype: float32

In [93]:
#total sales city wise
df.groupby('city')['total'].sum()

city
 Atlanta          2795498.50
 Austin           1819581.75
 Boston           3661642.00
 Dallas           2767975.50
 Los Angeles      5452571.00
 New York City    4664317.50
 Portland         2320490.50
 San Francisco    8262204.00
 Seattle          2747755.50
Name: total, dtype: float32

###  What time should we display advertisemens to maximize the likelihood of customer’s buying product?

In [10]:
df['time']=df['Order Date'].dt.time

In [18]:
df.groupby('time')['total'].count().nlargest(10)#count the no of rows in each time

time
11:58:00    252
19:20:00    246
19:15:00    243
20:13:00    242
12:21:00    240
13:25:00    240
19:01:00    239
19:36:00    239
19:46:00    239
19:48:00    239
Name: total, dtype: int64

### what product are often sold together?

In [40]:
df.columns

Index(['Order ID', 'Product', 'Quantity Ordered', 'Price Each', 'Order Date',
       'Purchase Address', 'time', 'total'],
      dtype='object')

In [70]:
df1=df[df['Order ID'].duplicated(keep=False)]#keeps all duplicated values

In [79]:
df1['grouped']=df1.groupby('Order ID')['Product'].transform(lambda x:','.join(x))
df1

C:\Users\Acer Lappy\AppData\Local\Temp\ipykernel_6864\688105591.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['grouped']=df1.groupby('Order ID')['Product'].transform(lambda x:','.join(x))

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,time,total,grouped
3,176560,Google Phone,1.0,600.000000,2019-04-12 14:38:00,"669 Spruce St, Los Angeles, CA 90001",14:38:00,600.000000,"Google Phone,Wired Headphones"
4,176560,Wired Headphones,1.0,11.990000,2019-04-12 14:38:00,"669 Spruce St, Los Angeles, CA 90001",14:38:00,11.990000,"Google Phone,Wired Headphones"
18,176574,Google Phone,1.0,600.000000,2019-04-03 19:42:00,"20 Hill St, Los Angeles, CA 90001",19:42:00,600.000000,"Google Phone,USB-C Charging Cable"
19,176574,USB-C Charging Cable,1.0,11.950000,2019-04-03 19:42:00,"20 Hill St, Los Angeles, CA 90001",19:42:00,11.950000,"Google Phone,USB-C Charging Cable"
30,176585,Bose SoundSport Headphones,1.0,99.989998,2019-04-07 11:31:00,"823 Highland St, Boston, MA 02215",11:31:00,99.989998,"Bose SoundSport Headphones,Bose SoundSport Hea..."
...,...,...,...,...,...,...,...,...,...
186792,259303,AA Batteries (4-pack),1.0,3.840000,2019-09-20 20:18:00,"106 7th St, Atlanta, GA 30301",20:18:00,3.840000,"34in Ultrawide Monitor,AA Batteries (4-pack)"
186803,259314,Wired Headphones,1.0,11.990000,2019-09-16 00:25:00,"241 Highland St, Atlanta, GA 30301",00:25:00,11.990000,"Wired Headphones,AAA Batteries (4-pack)"
186804,259314,AAA Batteries (4-pack),2.0,2.990000,2019-09-16 00:25:00,"241 Highland St, Atlanta, GA 30301",00:25:00,5.980000,"Wired Headphones,AAA Batteries (4-pack)"
186841,259350,Google Phone,1.0,600.000000,2019-09-30 13:49:00,"519 Maple St, San Francisco, CA 94016",13:49:00,600.000000,"Google Phone,USB-C Charging Cable"
186842,259350,USB-C Charging Cable,1.0,11.950000,2019-09-30 13:49:00,"519 Maple St, San Francisco, CA 94016",13:49:00,11.950000,"Google Phone,USB-C Charging Cable"

In [82]:
df1=df1[["Order ID","grouped"]].drop_duplicates()

In [81]:
from itertools import combinations
from collections import Counter

In [84]:
count=Counter()
for i in df1.grouped:
    li=i.split(',')
    count.update(Counter(combinations(li,2)))#3 for 3 items group

In [85]:
count.most_common(10)

[(('iPhone', 'Lightning Charging Cable'), 1005),
 (('Google Phone', 'USB-C Charging Cable'), 987),
 (('iPhone', 'Wired Headphones'), 447),
 (('Google Phone', 'Wired Headphones'), 414),
 (('Vareebadd Phone', 'USB-C Charging Cable'), 361),
 (('iPhone', 'Apple Airpods Headphones'), 360),
 (('Google Phone', 'Bose SoundSport Headphones'), 220),
 (('USB-C Charging Cable', 'Wired Headphones'), 160),
 (('Vareebadd Phone', 'Wired Headphones'), 143),
 (('Lightning Charging Cable', 'Wired Headphones'), 92)]

### what product sold the most?

In [77]:
l=df.groupby('Product')
k=l.sum()['Quantity Ordered']
k.sort_values(ascending=False)

Product
AAA Batteries (4-pack)        31017.0
AA Batteries (4-pack)         27635.0
USB-C Charging Cable          23975.0
Lightning Charging Cable      23217.0
Wired Headphones              20557.0
Apple Airpods Headphones      15661.0
Bose SoundSport Headphones    13457.0
27in FHD Monitor               7550.0
iPhone                         6849.0
27in 4K Gaming Monitor         6244.0
34in Ultrawide Monitor         6199.0
Google Phone                   5532.0
Flatscreen TV                  4819.0
Macbook Pro Laptop             4728.0
ThinkPad Laptop                4130.0
20in Monitor                   4129.0
Vareebadd Phone                2068.0
LG Washing Machine              666.0
LG Dryer                        646.0
Name: Quantity Ordered, dtype: float32